<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p> 
		Splurty was built by <a target="_blank" href="http://github.com/vupham0326">Vu Pham.</a> An aspiring web and mobile developer who's committed to and passionate about learning all things related to web/mobile developments. 
	</p>
	<br />


	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'vu.jpg', :class => 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Vu Pham</h2>
		<br />
		<p>
			Vu Pham is a Bay Area native. He works as an Operations Analyst for LCI, Inc. He analyzes, generates, and delivers bankruptcy notifications reports to LCI's clients. He also provides off hour client support - monitoring and troubleshooting various operational processes.     
		</p>
		<p>
			Vu is a big Warriors, Niners, and Giants fan. He loves going music festivals, biking and hiking during the summer. 
		</p>
	</div>
	<br class="clear" />
	<br />
	<br />
	<br />
	<br />
</div>